PRIMER_THERMODYNAMIC_PARAMETERS_PATH=/home/kdj/DevWork/tools/ppdesigner/ppdesigner/tools/primer3-2.4.0/src/primer3_config/
SEQUENCE_ID=example
SEQUENCE_TEMPLATE=agggtgctgattggtgcatttacaatccctgagatagacacaaaagttctccaagtccctactaggttagctagatagagagtgtccattggtgcattcacaaaccctga
SEQUENCE_TARGET=37,1
PRIMER_TASK=pick_detection_primers
PRIMER_PICK_LEFT_PRIMER=1
PRIMER_PICK_INTERNAL_OLIGO=0
PRIMER_PICK_RIGHT_PRIMER=1
PRIMER_OPT_SIZE=22
PRIMER_MIN_SIZE=18
PRIMER_MAX_SIZE=27
PRIMER_PRODUCT_SIZE_RANGE=200-300
PRIMER_MAX_NS_ACCEPTED=1
PRIMER_EXPLAIN_FLAG=1
PRIMER_NUM_RETURN=100
PRIMER_MIN_TM=57
PRIMER_OPT_TM=60
PRIMER_MAX_TM=65
